<div class="row" style="margin-left:30px;">
    <div class="col-md-5 col-lg-4" id="task-list">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Tasks
                <div class="pull-right">
                    <div class="btn-group" id="settingButtons" data-toggle="buttons">
                        <label class="btn btn-default btn-xs active">
                            <input type="radio" autocomplete="off" checked>All
                        </label>
                        <label class="btn btn-default btn-xs">
                            <input type="radio" autocomplete="off">My
                        </label>
                        <button class="btn btn-primary btn-xs" id="showSortMenu"><i class="fa fa-cog"></i></button>
                    </div>
                    <div class="sortMenu" id="sortMenu">Sort by Date, Label, Priority</div>
                </div>
            </div>
            <div id="tasks">
                <% tasks.forEach(function(task){ %>
                <button class="list-group-item <%=task.label%>" id="task" data-id="<%=task._id%>"><%=task.title%></button>
                <% }); %>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-lg-8" id="task-panel" style="position: fixed;">
        <div class="panel panel-default" id="task-info" style="display: none;">
            <div class="panel-heading" id="task-heading">123</div>
            <div class="panel-body">
                <div class="row">
                    <div class="pull-right">
                        <div class="col-xs-12">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning btn-xs" id="o-waiting">
                                    <input type="radio" name="options" autocomplete="off">Waiting
                                </label>
                                <label class="btn btn-default btn-xs" id="o-developing">
                                    <input type="radio" name="options" autocomplete="off">Developing
                                </label>
                                <label class="btn btn-success btn-xs" id="o-done">
                                    <input type="radio" name="options" autocomplete="off" >Done
                                </label>
                            </div>
                            <button class="btn btn-xs btn-primary">Assign to me</button>
                            <div class="btn-group">
                                <button class="btn btn-xs btn-primary">Assign to</button>
                                <button class="btn btn-xs btn-danger" id="deleteTaskButton">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <p class="lined"><span>Details</span></p>
                        <div class="col-xs-6">
                            <p>label: <span id="task-label"></span></p>
                            <p>priority: <span id="task-priority"></span></p>
                            <p>wiki page: <a href="/wiki/<%=projectId%>">link</a></p>
                        </div>
                        <div class="col-xs-6">
                            <p>status: <span id="task-status"></span></p>
                            <p>due date: <span id="task-duedate"></span></p>
                            <p>last update: <span id="task-lastupdate"></span></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <p class="lined"><span>People</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="lined"><span>Description</span></p>
                        <div class="col-xs-12" id="task-description"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="lined"><span>Attachments</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="lined"><span>Activity</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>