<div class="row" style="margin-left:30px;">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Add wiki page <div class="pull-right">
                    <button class="btn btn-success btn-xs" id="0buttonSavePage">Save</button></div></div>
            <div class="panel-body">
                <input class="form-control" type="text" id="page_title" placeholder="Page title">
                <hr>
                <div id="summernote-add-page"></div>
            </div>
        </div>
    </div>
</div>